/*Radio button*/
.radio-btn-container {
  position: relative;
  display: flex;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-btn:checked ~ .radio-btn-span {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.radio-btn-span {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.radio-btn-span:hover {
  cursor: pointer;
}

/*Regular button*/
.btn {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-size: 1em;
}

.btn:hover {
  cursor: pointer;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.btn-darker {
  background: rgba(0, 0, 0, 0.2);
}

/*Light container*/
.light-container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

/*Dark container*/
.dark-container {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

/*Input field*/
.input {
  padding: 10px 15px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

/*Input with label*/
.input-field {
  position: relative;
  height: 30px;
  width: 40%;
}

.smaller-input-field {
  position: relative;
  height: 30px;
  width: 20%;
}

.input-field input,
.smaller-input-field input {
  position: absolute;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 20px;
  color: black;
  width: 100%;
}

.input-field label,
.smaller-input-field label {
  position: absolute;
  top: 0;
  left: 0;
  color: #555;
  pointer-events: none;
  display: block;
  transition: 0.5s;
}

.input-field input:focus + label,
.input-field input:valid + label,
.smaller-input-field input:focus + label,
.smaller-input-field input:valid + label {
  transform: translateY(-110%);
  font-size: 16px;
  color: white;
  background: #00b0ff;
  padding: 5px;
  border-radius: 5px;
}

.input-field span,
.smaller-input-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: #555;
  width: 100%;
  height: 2px;
}

.input-field span:before,
.smaller-input-field span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0ff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.input-field input:focus ~ span:before,
.input-field input:valid ~ span:before,
.smaller-input-field input:focus ~ span:before,
.smaller-input-field input:valid ~ span:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

/*Autocomplete*/
#autocomplete {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: rgb(243, 243, 243);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 2px 2px 6px rgba(0, 0, 0, 0.2),
    4px 4px 12px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  border-radius: 5px;
}

.autocomplete-item {
  padding: 5px;
}

.autocomplete-item:hover,
.current-focus {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
