.name-value-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.name-value-container .input-field {
  position: relative;
  height: 30px;
  width: 40%;
}

.name-value-container .input-field input {
  position: absolute;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 20px;
  color: black;
  width: 100%;
}

.name-value-container .input-field label {
  position: absolute;
  top: 0;
  left: 0;
  color: #555;
  pointer-events: none;
  display: block;
  transition: 0.5s;
}

.name-value-container .input-field input:focus + label,
.name-value-container .input-field input:valid + label {
  transform: translateY(-110%);
  font-size: 16px;
  color: white;
  background: #00b0ff;
  padding: 5px;
  border-radius: 5px;
}

.name-value-container .input-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: #555;
  width: 100%;
  height: 2px;
}

.name-value-container .input-field span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0ff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.name-value-container .input-field input:focus ~ span:before,
.name-value-container .input-field input:valid ~ span:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
