#calculate-main-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#data-display-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.container {
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  overflow: auto;
}

#calculate-btn {
  position: absolute;
  top: 47%;
  left: 47%;
}
