.added-alloy {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.added-alloy label:first-child {
  justify-self: right;
  margin-right: 20px;
}

#added-alloys-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

#alloy-table {
  border-spacing: 20px;
  width: 50%;
  text-align: center;
  border-collapse: separate;
  border-bottom: 2px solid black;
}

#alloy-table th {
  border-bottom: 2px solid black;
}

#total-price-container {
  width: 50%;
  margin-top: 5px;
  text-align: right;
}

#total-price-container label span {
  font-weight: bold;
}
