#main-edit-steelgrade-container {
  height: 700px;
  width: 1000px;
  background: white;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2), 8px 8px 24px rgba(0, 0, 0, 0.2),
    16px 16px 48px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main-edit-steelgrade-container #name-message-container {
  width: 90%;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

#main-edit-steelgrade-container #edit-steelgrade-name-container {
  height: 10%;
  width: 50%;
  margin-top: 20px;
}

#main-edit-steelgrade-container #edit-steelgrade-name-container .input-field {
  width: 80%;
}
