#alloy-element-container {
  height: 60%;
  width: 80%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#element-information-container #element-table {
  border-collapse: collapse;
  min-width: 400px;
}

#element-information-container #element-table tr th {
  background: #00b0ff;
  color: white;
  padding: 5px;
}

#element-information-container #element-table tr td input {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px 5px;
  font-size: 17px;
}

#element-information-container #element-table tr td .name {
  font-weight: bold;
}
