@media screen and (max-width: 850px) {
  .dropdown {
    font-size: 1.2em;
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .dropdown {
    font-size: 1em;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .dropdown:hover {
    border-right: none;
    border-left: none;
  }

  .dropdown:hover a {
    color: rgba(0, 0, 0, 0.3);
  }
}
