#confirm-edit-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#confirm-edit-container button,
#confirm-edit-container a {
  background: #00b0ff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-left: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5s;
}

#confirm-edit-container a {
  text-decoration: none;
}

#confirm-edit-container button:hover,
#confirm-edit-container a:hover {
  background: #0091d4;
  cursor: pointer;
  transition: 0.5s;
}
